.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_card {
  width: 25%;
  border: solid 1px rgb(105, 105, 105);
  background-color: #fff;
  padding: 1%;
  border-radius: 3px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: solid 1px rgb(216, 216, 216);
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
}

.cardBody {
  padding: .5%;
}

.detailRow {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.detailLabel {
  color: #002e73;
  font-weight: 400;
  font-size: 1.1em;
  flex: 1;
}

.detailValue {
  flex: 1;
  display: flex;
    justify-content: flex-end;
}

.md-form {
  margin-top: 0;
  margin-bottom: 0;
}

img.profileAvatar {
  border-radius: 50%;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #006e2e;
  background-color: #004d13;
}